.container-fluid {
    background-color: aliceblue;

}


#infocentral {
    padding: 4rem;

}

#DatosLocacion {
    background-color: #a2d9ff;
    padding-bottom: 10px;

}


#DatosContacto {
    padding: 1rem;
    border: 2px solid lightblue;

}


#ultimacolumna {
    background-color: lightblue;
}

svg {
    color: dodgerblue;
}

#puntero {
    color: blue;
}